$color_verde: rgba(90, 206, 186, 0.973);
$color_azul:rgba(17, 64, 109, 0.973) ;
$color_gradiente:  linear-gradient(white,rgb(164, 233, 216) );
$color_rojo: rgba(131, 28, 12, 0.911);
$color_boton: rgba(71, 163, 148, 0.973);


